.header {
    padding-block: 2rem 2.5rem;
    justify-content: space-between;
}

@media (min-width:768px) {
    .header {
        padding-block: 2.625rem 2.375rem;
    }
}

@media (min-width:800px) {
    .header {
        padding-block: 2.813rem 2.313rem;
    }
}