.inputs-wrapper {
    display: grid;

}
.checkbox p {
    color: var(--clr-input-text);
}

@media (min-width:768px) {
    .search-btn {
        display: none;
    }

    .inputs-wrapper {
        grid-template-columns: 1fr auto auto;
    }

    .filter {
        display: flex;
        align-items: center;
        gap: 1.75rem;
        background-color: var(--clr-input-bg);
        border-radius: var(--border-radius);
        padding-inline: 1.25rem 1rem;
    }

    .checkbox p {
        margin-left: 2rem;
    }
}

@media (min-width:850px) {
}