.inputs-wrapper-desktop {
    display: grid;

}
.checkbox p {
    color: var(--clr-input-text);
}


@media (max-width:767px) {
    .inputs-mobile {
        position: relative;
        margin-bottom: 3rem;
        border-radius: var(--border-radius);
        overflow: hidden;

        display: flex;
        background-color: var(--card-color-bg);
        padding: 1rem;
    }

    .icon-search-button {
        background-color: var(--clr-violet);
        border: 0;
        height: 48px;
        aspect-ratio: 1;
        border-radius: var(--border-radius);

        display: grid;
        place-content: center;
    }

    .inputs-wrapper-desktop {
        display: none;
    }

    .checkbox-mobile::after {
        position: absolute;
        content: '';
        left: -1.5rem;
        right: -1.5rem;
        height: 1px;
        background-color: var(--clr-dark-gray);
        opacity: .3;
        top: -1.5rem;

    }

    .checkbox-mobile {
        margin-top: 3rem;
        position: relative;
    }

    .overlay {
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        inset: 0;
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .checkbox-mobile p {
        margin-bottom: 1.5rem;
        margin-left: 2rem;
        font-weight: bold;
    }

    .filter-box {
        border-radius: var(--border-radius);
        overflow: hidden;
        padding: 1.5rem;
        background-color: var(--clr-input-bg);
        color: var(--clr-input-text);

        position: absolute;
        width: 90%;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 100;
    }


}

@media (min-width:768px) {
    .inputs-wrapper-mobile {
        display: none;
    }

    .search-btn {
        display: none;
    }

    .inputs-wrapper-desktop {
        grid-template-columns: repeat(3, 1fr);
        border-radius: var(--border-radius);
        overflow: hidden;
        background-color: var(--clr-input-bg);
        color: var(--clr-input-text);
        padding: 1rem;

        position: relative;
    }

    .input-wrapper {
        position: relative;
    }

    .input-wrapper::after {
        position: absolute;
        content: '';
        top: -1rem;
        bottom: -1rem;
        right: 1.5rem;
        background-color: var(--clr-dark-gray);
        width: 1px;
        opacity: .3;
    }


    .filter {
        display: flex;
        align-items: center;
        gap: 1.75rem;
        background-color: var(--clr-input-bg);
    }

    .checkbox {
        display: flex;
    }
}

@media (min-width:800px) {
    .inputs-wrapper-desktop {
        grid-template-columns: 1fr auto auto;
    }
}