.inputs-wrapper-desktop {
    display: grid;

}
.checkbox p {
    color: var(--clr-input-text);
}


@media (max-width:767px) {
    .inputs-mobile {
        position: relative;
        margin-bottom: 3rem;
        border-radius: var(--border-radius);
        overflow: hidden;

        display: flex;
        background-color: var(--card-color-bg);
        padding: 1rem;
    }

    .icon-search-button {
        background-color: var(--clr-violet);
        border: 0;
        height: 48px;
        aspect-ratio: 1;
        border-radius: var(--border-radius);

        display: grid;
        place-content: center;
    }

    .inputs-wrapper-desktop {
        display: none;
    }

    .checkbox-mobile::after {
        position: absolute;
        content: '';
        left: -1.5rem;
        right: -1.5rem;
        height: 1px;
        background-color: var(--clr-dark-gray);
        opacity: .3;
        top: -1.5rem;
    }

    .checkbox-mobile {
        margin-top: 3rem;
        position: relative;
    }

    .checkbox-mobile p {
        margin-bottom: 1.5rem;
        margin-left: 2rem;
        font-weight: bold;
    }

    .border-radius {
        border-radius: var(--border-radius);
        overflow: hidden;
        padding: 1.5rem;
        background-color: var(--clr-input-bg);
        color: var(--clr-input-text);
    }


}

@media (min-width:768px) {
    .inputs-wrapper-mobile {
        display: none;
    }

    .search-btn {
        display: none;
    }

    .inputs-wrapper-desktop {
        grid-template-columns: 1fr auto auto;
        border-radius: var(--border-radius);
        overflow: hidden;
        background-color: var(--clr-input-bg);
        color: var(--clr-input-text);
        padding: 1rem;
    }

    .filter {
        display: flex;
        align-items: center;
        gap: 1.75rem;
        background-color: var(--clr-input-bg);
    }

    .checkbox p {
        margin-left: 2rem;
    }
}

@media (min-width:800px) {
}