.job-container {
    color: var(--job-decription-color);
    margin-block: 13.375rem 4rem;
    background-color: var(--card-color-bg);
    padding: 2.5rem 1.5rem;
    border-radius: var(--border-radius);
}

.grid-gap-4 {
    display: grid;
    gap: 2.5rem;
}

.grid-gap-2 {
    display: grid;
    gap: 1.5rem
}

.job_position,
.job-container h3 {
    color: var(--clr-input-text);
}

.location_job_dscription {
    margin-top: 0;
}

@media (max-width:767rem) {
    .job-position-wrapper {
        margin-bottom: 1.563rem;
    }
    
    .mobile-button {
        width: 100%;
    }

    .button-wrapper {
        padding-block: 1.563rem;
    }
}

@media (min-width:768px) {
    .header_selected-job {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .job-container {
        margin-block: 8.188rem 3.313rem;
        padding: 3rem;
    }

    .job-description {
        margin-top: 2.5rem;;
    }
}

@media (min-width:800px) {
    .job-container {
        margin-block: 8.188rem 5rem;
    }
}
