/* .job-container {
    
    
} */

.job-details {
    color: var(--job-decription-color);
    background-color: var(--card-color-bg);
    padding: 2.5rem 1.5rem;
    border-radius: var(--border-radius);
}

.job_position,
.job-container h3 {
    color: var(--clr-input-text);
}

.location_job_dscription {
    margin-top: 0;
}

@media (max-width:767rem) {
    .job-position-wrapper {
        margin-bottom: 1.563rem;
    }

    .button-wrapper {
        padding-block: 1.563rem;
    }
}

@media (min-width:768px) {
    .header_selected-job {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .job-details {
        padding: 3rem;
    }

    .job-description {
        margin-top: 2.5rem;;
    }
}

@media (min-width:850px) {
    .container.job-container {
        max-width: 730px;
    }
}
