/* .job-container {
    
    
} */
.company-header {
    margin-bottom: 1.5rem;
    border-radius: var(--border-radius);
}

.logo-bg {
    
    display: grid;
    place-content: center;
}

.company-site {
    width: 100%;
    color: var(--job-decription-color);
    background-color: var(--card-color-bg);
    padding: 2.5rem;
}

.job-details {
    color: var(--job-decription-color);
    background-color: var(--card-color-bg);
    padding: 2.5rem 1.5rem;
    border-radius: var(--border-radius);
}

.job_position,
.job-container h3 {
    color: var(--clr-input-text);
}

.location_job_dscription {
    margin-top: 0;
}

.job-description_footer-wrapper {
    background-color: var(--card-color-bg);
    padding-block: 1.375rem;
    margin-top: 4rem;
    color: var(--job-decription-color);
}

.job-description_footer {
    justify-content: space-between;
}


@media (max-width:767px) {
    .company-header {
        text-align: center;

        position: relative;
    }

    .company-site {
        border-radius: var(--border-radius);
    }

    .logo-bg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        border-radius: 1rem;
        
        z-index: 100;
    }

    .company-btn {
        margin-top: 1.5rem;
        width: 75%;
        margin-inline: auto;
    }

    .job-position-wrapper {
        margin-bottom: 1.563rem;
    }

    .button-wrapper {
        padding-block: 1.563rem;
    }

    .job-name_footer {
        display: none;
    }
}

@media (min-width:768px) {
    .company-header {
        margin-bottom: 1.5rem;
        overflow: hidden;

        display: flex;
        align-items: center;
    }

    .logo-bg {
        width: 140px;
        height: 140px;
    }

    .company-site {
        height: 140px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .inner-logo {
        width: 4.5rem;
    }

    .header_selected-job {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .job-details {
        padding: 3rem;
    }

    .job-description {
        margin-top: 2.5rem;;
    }

    .job-description_footer-wrapper {
        margin-top: 3.313rem;
    }
}

@media (min-width:850px) {
    .container.job-container {
        max-width: 730px;
    }

    .job-description_footer-wrapper {
        margin-top: 5rem;
    }
}
