.wrapper {
  background-image: url('/assets/mobile/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width:768px) {
  .wrapper {
      background-image: url('/assets/tablet/bg-pattern-header.svg');
  }
}

@media (min-width:850px) {
  .wrapper {
      background-image: url('/assets/desktop/bg-pattern-header.svg');
  }
}



.cards-container {
  display: grid;
  gap: 3.063rem;
  margin-top: 6.263rem;
}

@media (min-width:768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 6.875rem;
  }
}

@media (min-width:850px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.85rem;
    margin-top: 9rem;
  }
}