.wrapper {
  background-image: url('/assets/mobile/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-size: 100% 136px;
}

.load-more_button {
  text-align: center;
  padding-block: 2rem 3.183rem;
}

@media (min-width:768px) {
  .wrapper {
      background-image: url('/assets/tablet/bg-pattern-header.svg');
      background-size: 100% 160px;
  }

  .load-more_button {
    padding-block: 3.5rem 3.183rem;
  }
}

@media (min-width:800px) {
  .wrapper {
      background-image: url('/assets/desktop/bg-pattern-header.svg');
  }

  .load-more_button {
    padding-block: 3.5rem 6.5rem;
  }
}



.cards-container {
  display: grid;
  gap: 3.063rem;
  margin-top: 6.263rem;
}

@media (min-width:768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 6.875rem;
  }
}

@media (min-width:800px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.85rem;
    margin-top: 9rem;
  }
}