@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --clr-violet: hsl(235, 69%, 61%);
  --clr-light-violet: hsl(235, 82%, 77%);
  --clr-very-light-violet: hsl(235, 82%, 95%);
  --clr-btn-secondary-hover: hsl(235, 82%, 85%);
  --clr-very-dark-blue: hsl(219, 29%, 14%);
  --clr-midnight: hsl(220, 29%, 10%);
  --clr-light-midnight: hsl(220, 29%, 25%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(210, 22%, 96%);
  --clr-gray-hover: hsl(210, 10%, 40%);
  --clr-gray: hsl(212, 23%, 69%);
  --clr-dark-gray: hsl(214, 17%, 51%);

  --ff-main: 'Kumbh Sans', sans-serif;
  --border-radius: .5rem;

  --btn-secondary-color: var(--clr-violet);
  --btn-secondary-bg-color: var(--clr-very-light-violet);
  --btn-secondary-hover: var(--clr-btn-secondary-hover);
  --clr-input-text: var(--clr-very-dark-blue);
  --clr-input-bg: var(--clr-white);
  --page-bg-color: var(--clr-light-gray);
  --card-color-bg: var(--clr-white);
  --card-color-text: var(--clr-gray);
  --card-position-color: var(--clr-very-dark-blue);
  --job-decription-color: var(--clr-dark-gray);
}

.dark-mode {
  --btn-secondary-color: var(--clr-white);
  --btn-secondary-bg-color: var(--clr-light-midnight);
  --btn-secondary-hover: var(--clr-gray-hover);
  --clr-input-text: var(--clr-white);
  --clr-input-bg: var(--clr-very-dark-blue);
  --page-bg-color: var(--clr-midnight);
  --card-color-bg: var(--clr-very-dark-blue);
  --card-color-text: var(--clr-gray);
  --card-position-color: var(--clr-white);
  --job-decription-color: var(--clr-gray);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

body {
  font-family: var(--ff-main);
  background-color: var(--page-bg-color);
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.gap-4 {
  gap: 2.5rem;
}

.gap-2 {
  gap: 1.5rem
}

.container {
  width: 90%;
  margin-inline: auto;
}

a.button {
  text-decoration: none;
  display: inline-block;
}

.button {
  outline: 0;
  border: 0;
  padding: 1rem 2.5rem;
  background-color: transperant;
  font-weight: bold;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button-primary {
  color: var(--clr-white);
  background-color: var(--clr-violet);
}

.button-primary:hover {
  background-color: var(--clr-light-violet);
}


.button-secondary {
  color: var(--btn-secondary-color);
  background-color: var(--btn-secondary-bg-color);
}

.button-secondary:hover {
  background-color: var(--btn-secondary-hover);
}

@media (max-width:767rem) {
    .button {
        width: 100%;
    }
}

form {
  position: relative;
}

.input {
  padding-block: 1.75rem;
  padding-left: 4.5rem;
  border-radius: var(--border-radius);
  outline: 0;
  border: 0;
  color: var(--clr-input-text);
  background-color: var(--clr-input-bg);
  text-transform: capitalize;
  width: 100%;
}

.input-icon {
  position: absolute;
  bottom: 50%;
  left: 2rem;
  transform: translate(0, 50%);
}

ul {
  list-style: none;
  padding: 0;
}

ul li::before {
  content: "\2022";
  color: var(--clr-violet);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-right: 1.5rem;
}

ol {
  list-style: none;
  counter-reset: li;
  padding: 0;
}

li::before {
  content: counter(li);
  color: var(--clr-violet);
  display: inline-block;
  width: 1em;
  margin-right: 1.25rem;
}

li {
  counter-increment: li
}

@media (min-width: 850px) {
  .container {
    max-width: 1110px;
  }
}